<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Mineirinho Ultra Adventures</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  
</head>
<body>
    <div th:replace="fragments/header :: header">
    </div>
 <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h3 class="header center orange-text">Clientes</h3>
      <br>
<table class="centered">
  <thead>
    <tr>
      <th scope="col">Codigo</th>
      <th scope="col">Nome</th>
      <th scope="col">Email</th>
      <th scope="col">CPF</th>
      <th scope="col">Data de Nascimento</th>
      <th scope="col">Endereço</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr th:each = "cliente: ${listaClientes}">
    	<td th:text ="${cliente.codigoCliente}"></td> 
		<td><a th:href="@{/listarPedidos/{codigoCliente}(codigoCliente=${cliente.codigoCliente})}" th:text = "${cliente.nomeCliente}"></a></td>
      	<td th:text ="${cliente.emailCliente}"></td>
      	<td th:text ="${cliente.cpfCliente}"></td>
      	<td th:text ="${cliente.dataNascimentoCliente}"></td>
      	<td th:text ="${cliente.enderecoCliente}"></td>
    	<td><a th:href="@{/excluirCliente/{codigoCliente}(codigoCliente = ${cliente.codigoCliente})}"><button type="button" class="btn green lighten-2">Excluir</button></a></td>
    </tr>
  </tbody>
</table>
<br>
</div>
</div>
</body>
<div th:replace="fragments/footer :: footer">
</div>
</html>